// Colors:
// ======
.color-0 {
  color: $color-0;
}
.color-1 {
  color: $color-1;
}
.color-2 {
  color: $color-2;
}
.color-3 {
  color: $color-3;
}
// Backgrounds:
// ===========
.background-0 {
  background: $color-0;
}
.background-1 {
  background: $color-1;
}
.background-2 {
  background: $color-2;
}
.background-3 {
  background: $color-3;
}