// Display:
// =======
.display-inlineBlock {
  @include inline-block;
}
.display-inline {
  display: inline;
}
.display-block {
  display: block;
}
// Float:
// =====
.float-left {
  float: left;
}
.float-right {
  float: right;
}
// Text align:
// ==========
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
// Position:
// ========
.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
// Clear fix:
// =========
// Contain floats: h5bp.com/q
.clearfix {
  *zoom: 1;
  &:before,
  &:after {
  content: "";
  display: table;
  }
  &:after {
  clear: both;
  }
}
// Hide both:
// =========
// Hide from both screenreaders and browsers: h5bp.com/u
.hidden {
  display: none !important;
  visibility: hidden;
}
// Hide only visually:
// ==================
// Hide only visually, but have it available for screenreaders: h5bp.com/v
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
// Hide only visually focusable:
// ============================
// Extends the .visuallyhidden class to allow the element to be focusable
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
// Invisible:
// =========
// Hide visually and from screenreaders, but maintain layout
.invisible {
  visibility: hidden;
}