/* line 17, .//Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, .//Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, .//Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, .//Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, .//Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, .//Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, .//Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, .//Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, .//Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 3, ../../src/scss/dev/_dev.tests.scss */
body {
  background-image: url(http://basehold.it/image.php?height=21);
}

/* line 8, ../../src/scss/dev/_dev.tests.scss */
.grid-test {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: #222222;
  color: white;
  font-weight: bold;
  height: 21px;
  line-height: 21px;
  text-align: center;
}

/* line 19, ../../src/scss/dev/_dev.tests.scss */
.columns-test {
  background: #FFC4C4;
  height: 210px;
}
/* line 22, ../../src/scss/dev/_dev.tests.scss */
.columns-test .inner {
  height: 100%;
}
/* line 25, ../../src/scss/dev/_dev.tests.scss */
.columns-test > .inner {
  background: #FFE6E6;
}
/* line 27, ../../src/scss/dev/_dev.tests.scss */
.columns-test > .inner > .inner {
  background: #fff8fa;
}

/* line 3, ../../src/scss/base/_base.colors.scss */
.color-0 {
  color: white;
}

/* line 6, ../../src/scss/base/_base.colors.scss */
.color-1 {
  color: #222222;
}

/* line 9, ../../src/scss/base/_base.colors.scss */
.color-2 {
  color: #444444;
}

/* line 12, ../../src/scss/base/_base.colors.scss */
.color-3 {
  color: #888888;
}

/* line 15, ../../src/scss/base/_base.colors.scss */
.color-4 {
  color: #dddddd;
}

/* line 3, ../../src/scss/base/_base.decorations.scss */
.border-radius {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 8, ../../src/scss/base/_base.decorations.scss */
.border-0 {
  border-top: 1px solid #222222;
  margin-bottom: -1px;
}

/* line 13, ../../src/scss/base/_base.decorations.scss */
.border-1 {
  border-top: 1px dotted #222222;
  margin-bottom: -1px;
}

/* line 3, ../../src/scss/base/_base.globals.scss */
body {
  font: 0.813em/1.615em Arial;
  margin-bottom: 42px;
}

/* line 14, ../../src/scss/base/_base.globals.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

/* line 19, ../../src/scss/base/_base.globals.scss */
p {
  margin-top: 21px;
}

/* line 24, ../../src/scss/base/_base.globals.scss */
a, a:visited {
  color: #222222;
}

/* line 27, ../../src/scss/base/_base.globals.scss */
a:hover {
  color: #888888;
}

/* line 33, ../../src/scss/base/_base.globals.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 11, ../../src/scss/base/_base.grids.scss */
.row {
  width: 599px;
}

/* line 16, ../../src/scss/base/_base.grids.scss */
.gutter {
  margin-right: 13px;
}

/* line 22, ../../src/scss/base/_base.grids.scss */
.columns-1 {
  width: 89px;
}

/* line 22, ../../src/scss/base/_base.grids.scss */
.columns-2 {
  width: 191px;
}

/* line 22, ../../src/scss/base/_base.grids.scss */
.columns-3 {
  width: 293px;
}

/* line 22, ../../src/scss/base/_base.grids.scss */
.columns-4 {
  width: 395px;
}

/* line 22, ../../src/scss/base/_base.grids.scss */
.columns-5 {
  width: 497px;
}

/* line 3, ../../src/scss/base/_base.typography.scss */
.font-xxl {
  font-size: 2.769em;
  line-height: 1.75em;
}

/* line 7, ../../src/scss/base/_base.typography.scss */
.font-xl {
  font-size: 1.615em;
  line-height: 2em;
}

/* line 11, ../../src/scss/base/_base.typography.scss */
.font-l {
  font-size: 1em;
  line-height: 1.615em;
}

/* line 15, ../../src/scss/base/_base.typography.scss */
.font-m {
  font-size: 0.846em;
  line-height: 1.909em;
}

/* line 19, ../../src/scss/base/_base.typography.scss */
.font-s {
  font-size: 0.769em;
  line-height: 2.1em;
}

/* line 25, ../../src/scss/base/_base.typography.scss */
.line-height-1 {
  line-height: 1em;
}

/* line 30, ../../src/scss/base/_base.typography.scss */
.font-weight-normal {
  font-weight: normal;
}

/* line 33, ../../src/scss/base/_base.typography.scss */
.font-weight-bold {
  font-weight: bold;
}

/* line 11, ../../src/scss/base/_base.spaces.scss */
.margin-xxl {
  margin-top: 63px;
}

/* line 15, ../../src/scss/base/_base.spaces.scss */
.margin-xl {
  margin-top: 42px;
}

/* line 19, ../../src/scss/base/_base.spaces.scss */
.margin-l {
  margin-top: 21px;
}

/* line 23, ../../src/scss/base/_base.spaces.scss */
.margin-m {
  margin-top: 10.5px;
}

/* line 28, ../../src/scss/base/_base.spaces.scss */
.margin-auto {
  margin-left: auto;
  margin-right: auto;
}

/* line 35, ../../src/scss/base/_base.spaces.scss */
.padding {
  padding: 10.5px;
}

/* line 40, ../../src/scss/base/_base.spaces.scss */
.padding-top {
  padding-top: 21px;
}

/* line 43, ../../src/scss/base/_base.spaces.scss */
.padding-top-m {
  padding-top: 10.5px;
}

/* line 40, ../../src/scss/base/_base.spaces.scss */
.padding-right {
  padding-right: 21px;
}

/* line 43, ../../src/scss/base/_base.spaces.scss */
.padding-right-m {
  padding-right: 10.5px;
}

/* line 40, ../../src/scss/base/_base.spaces.scss */
.padding-left {
  padding-left: 21px;
}

/* line 43, ../../src/scss/base/_base.spaces.scss */
.padding-left-m {
  padding-left: 10.5px;
}

/* line 40, ../../src/scss/base/_base.spaces.scss */
.padding-bottom {
  padding-bottom: 21px;
}

/* line 43, ../../src/scss/base/_base.spaces.scss */
.padding-bottom-m {
  padding-bottom: 10.5px;
}

/* line 3, ../../src/scss/base/_base.utils.scss */
.display-inlineBlock {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
/* line 7, .//Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.display-inlineBlock {
  *display: inline;
}

/* line 6, ../../src/scss/base/_base.utils.scss */
.display-inline {
  display: inline;
}

/* line 9, ../../src/scss/base/_base.utils.scss */
.display-block {
  display: block;
}

/* line 14, ../../src/scss/base/_base.utils.scss */
.float-left {
  float: left;
}

/* line 17, ../../src/scss/base/_base.utils.scss */
.float-right {
  float: right;
}

/* line 22, ../../src/scss/base/_base.utils.scss */
.text-left {
  text-align: left;
}

/* line 25, ../../src/scss/base/_base.utils.scss */
.text-right {
  text-align: right;
}

/* line 28, ../../src/scss/base/_base.utils.scss */
.text-center {
  text-align: center;
}

/* line 33, ../../src/scss/base/_base.utils.scss */
.position-relative {
  position: relative;
}

/* line 36, ../../src/scss/base/_base.utils.scss */
.position-absolute {
  position: absolute;
}

/* line 42, ../../src/scss/base/_base.utils.scss */
.clearfix {
  *zoom: 1;
}
/* line 45, ../../src/scss/base/_base.utils.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 49, ../../src/scss/base/_base.utils.scss */
.clearfix:after {
  clear: both;
}

/* line 56, ../../src/scss/base/_base.utils.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 63, ../../src/scss/base/_base.utils.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 77, ../../src/scss/base/_base.utils.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 88, ../../src/scss/base/_base.utils.scss */
.invisible {
  visibility: hidden;
}

/* line 24, ../../src/scss/component/_component.table.scss */
.table th, .table td {
  padding: 10.5px;
  vertical-align: top;
}
/* line 28, ../../src/scss/component/_component.table.scss */
.table tbody th, .table tbody td {
  border-top: 1px solid #888;
}

/* line 24, ../../src/scss/component/_component.table.sortable.scss */
.c-tables-sortable .sort {
  cursor: pointer;
}
/* line 27, ../../src/scss/component/_component.table.sortable.scss */
.c-tables-sortable .is-selected {
  background: #ddd;
}
